body{
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: normal;
}



.header{
    background-color: #CE2829;
    text-align: center;
    color:white;
    margin-left: 20px; 
    margin-right: 10px;
}
.header img{
    margin-top: 1rem;
}
.navigation{
    padding-bottom: 2%;
    margin-top: 3rem;
    text-align: center;
    
}
a{
    color:white;
}
.center{
    width: 20%; 
    margin: 0 auto;
    text-align: left;
  
}

.form{
  display: flex;
  flex-wrap: wrap;        /* Öğelerin birden fazla satıra geçmesine izin verir */
  gap: 15px;             /* Checkbox'lar arasındaki boşluk */
  justify-content: left;
  margin-bottom:10%;
  font-weight: 500;

}
.radio-label {
    display: block;          /* Her bir label'ı blok seviyesinde yaparak alt alta sıralanmasını sağlar */
    margin-bottom: 10px;     /* Label'lar arasına boşluk ekler */
  }
.button-select{
  display: flex;               
  justify-content: space-between; 
  gap: 20px;   
}

.textarea{
  margin-bottom: 20px;

}


.button{
  background-color: #FDC913;
  font-size: 20px;
  padding: 8px;
  margin: 5px;
  border-radius:5px;
  border: none;
}

.order-container {
  text-align: center;
  margin: 20px;
}

/* Sayaç ve yazı kutusunu içine alacak konteyner */
.counter-container {
  display: flex;
  align-items: center; /* Dikeyde ortalama */
  /* Yatayda ortalama */
  gap: 20px; /* Elemanlar arasına boşluk bırakır */
}

.text-box{
  border: 1px solid #ccc;
  
}


.background-container {
  width: 100%;
  height: 100vh;
  background-image: url('../images/iteration-1-images/home-banner.png'); /* SVG dosyanızın yolu */
  
  background-size: cover; /* SVG'nin tam ekranı kaplamasını sağlar */
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.content{
  color:white;
}
.background-container img{
  margin-top: 5%;
}
  

.background-container h4{
  font-family: "Satisfy", cursive;
  color:#FDC913;
}
.background-container h1{
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
.success{
  width: 100%;
  height: 100vh;
  background-color: #CE2829; 
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.success img{
  margin-top:7%;
}
.success2{
 margin-top: 15%;
 color:white;
 font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: xx-large;
  
 
}