
.header{
    background-color: red;
    text-align: center;
    color:white;
    margin-left: 20px; 
    margin-right: 10px;
}
.navigation{
    padding-bottom: 2%;
    text-align: center;
    
}
a{
    color:white;
}
.center{
    width: 20%; 
    margin: 0 auto;
    text-align: left;
}

.form{
  display: flex;
  flex-wrap: wrap;        /* Öğelerin birden fazla satıra geçmesine izin verir */
  gap: 15px;             /* Checkbox'lar arasındaki boşluk */
  justify-content: left;

}
